h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-style: bolder;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: bolder;
  font-variant: normal;
  font-weight: 500;
  line-height: 10px;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: bolder;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

a:hover {
  color: black;
  font-style: italic;
  text-decoration: none;
}
a h2:hover {
  font-style: normal;
}

.border {
  border-color: black;
  border-radius: 4px;
  border-width: thin;
  border-style: solid;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
}

a {
  color: black;
}

#wip {
  display: none;
}

.thin {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

body {
  max-width: 100%;
}

@media (min-width:768px) {
  .desktop-only {
    display: normal !important;
  }
  .mobile-only {
    display: none !important;
  }
  .left {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .mobile-only {
    display: visible !important;
  }
  .desktop-only {
    display: none !important;
  }
}

#loading {
  display: none;
}

.right {
  border-left: thin solid black;
}

.link {
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  color: black;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
